<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.automated.tutorials.autotest.bankrate.CalculatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>calculateMortgageRate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetCalculatorFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeTermInYears</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>didCalculatorLoad</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeInterestRate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeMortgageAmount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>printDefaultValues</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateMenus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateDefaultMortgageRate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDownPages</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
