<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>16/07/23 22:54:36</td>   <td>0</td> <td title="&gt;&gt;SetUp.initializeTestBaseSetup()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.calculateDefaultMortgageRate()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">calculateDefaultMortgageRate</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.calculateMortgageRate()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">calculateMortgageRate</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeInterestRate()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">changeInterestRate</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeMortgageAmount()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">changeMortgageAmount</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeTermInYears()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">changeTermInYears</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.didCalculatorLoad()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">didCalculatorLoad</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.navigateMenus()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">navigateMenus</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.printDefaultValues()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">printDefaultValues</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.resetCalculatorFields()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">resetCalculatorFields</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/07/23 22:54:55</td>   <td>18609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>16/07/23 22:54:55</td>   <td>18705</td> <td title="&lt;&lt;SetUp.tearDown()[pri:0, instance:test.automated.tutorials.autotest.bankrate.CalculatorTest@7cd62f43]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
</table>
