<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bankrate.com QA Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.calculateDefaultMortgageRate()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@69a3d1d]">calculateDefaultMortgageRate</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:38</td>   <td>-21015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.calculateMortgageRate()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@2bbf4b8b]">calculateMortgageRate</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:36</td>   <td>-23484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeInterestRate()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@11438d26]">changeInterestRate</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:33</td>   <td>-26807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeMortgageAmount()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@59e5ddf]">changeMortgageAmount</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:35</td>   <td>-24504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.changeTermInYears()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@4493d195]">changeTermInYears</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-28503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.didCalculatorLoad()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@1786dec2]">didCalculatorLoad</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="998b7c">  <td>16/07/24 10:10:00</td>   <td>-59492</td> <td title="&gt;&gt;SetUp.initializeTestBaseSetup()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@69a3d1d]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:10</td>   <td>-49405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.navigateMenus()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@5e853265]">navigateMenus</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-27945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.printDefaultValues()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@3712b94]">printDefaultValues</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:48</td>   <td>-11495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.resetCalculatorFields()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@17d677df]">resetCalculatorFields</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:10</td>   <td>-49410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@5e853265]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-28503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@1786dec2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-27945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@3712b94]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:33</td>   <td>-26807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@59e5ddf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:35</td>   <td>-24504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@4493d195]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:36</td>   <td>-23485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@11438d26]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:38</td>   <td>-21015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:48</td>   <td>-11495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@17d677df]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTest.setUp()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@69a3d1d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="998b7c">  <td>16/07/24 10:11:09</td>   <td>9510</td> <td title="&lt;&lt;SetUp.tearDown()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@69a3d1d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-28538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@5e853265]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:31</td>   <td>-27968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@1786dec2]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:33</td>   <td>-26831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@3712b94]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:35</td>   <td>-24525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@59e5ddf]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:36</td>   <td>-23509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@4493d195]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:38</td>   <td>-21036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@11438d26]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:48</td>   <td>-11518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@2bbf4b8b]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:10:59</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@17d677df]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>16/07/24 10:11:09</td>   <td>9488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTest.tearDownPages()[pri:0, instance:test.automated.autotest.bankrate.CalculatorTest@69a3d1d]">&lt;&lt;tearDownPages</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
</table>
