<h2>Methods that were not run</h2><table>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateDefaultMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.printDefaultValues</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.navigateMenus</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.resetCalculatorFields</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.calculateMortgageRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeTermInYears</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeInterestRate</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.didCalculatorLoad</td></tr>
<tr><td>test.automated.autotest.bankrate.CalculatorTest.changeMortgageAmount</td></tr>
</table>