<h2>Reporter output</h2><table><tr><td>The default mortgage amount when page initially loaded was $200,000</td></tr>
<tr><td>The default interest rate when page initially loaded was 4.5%</td></tr>
<tr><td>The default term when page initially loaded was 15 years</td></tr>
<tr><td>The monthly payment for this loan is $3,615.62</td></tr>
<tr><td>The monthly payment for this loan is $1,529.99</td></tr>
</table>